body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

:root {
    --color-acento: #0056b3;
    --color-acento-claro: #ee613033;
    --color-texto: black;
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

a:hover:not(#cart) {
    color: var(--color-acento);
}

header {
    box-shadow: 0 3px 5px rgba(0,0,0,0.104);
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

#cuenta-carrito {
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
}

#logo {
    height: 40px;
}

header nav img {
    height: 25px;
}

.container {
    margin-top: 50px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos generales del modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-dialog {
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 600px; /* Ancho máximo del modal */
    background-color: #fff;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

/* Estilos de los botones del modal */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
}




.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
}

/* Estilos para la navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.nav-logo img {
    height: 40px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    width: 200px;
    padding: 8px;
    border: 2px solid #007bff;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
    outline: none;
}

#searchButton {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 14px;
}

.nav-cart img {
    height: 30px;
}

/* Estilos para el banner */
.banner {
    margin: 0;
    padding: 0;
}


.success-message {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

#noResultsMessage {
    display: none; /* Inicialmente oculto */
    background-color: #ffcccc; /* Color de fondo rojo claro */
    color: #cc0000; /* Color de texto rojo oscuro */
    border: 1px solid #cc0000; /* Borde del mismo color que el texto */
    padding: 10px; /* Espaciado interno */
    margin: 20px 0; /* Margen superior e inferior */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    font-size: 16px; /* Tamaño de fuente */
}




.banner-container {
    text-align: center;
    background-image: url('img/12-fotor-2024030611265.png');
    background-size: cover;
    background-position: center;
    color: rgb(87, 84, 84);
    padding: 60px 20px;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
}

/* Estilo para el contenedor principal de los productos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 20px; /* Añade márgenes laterales */
}

/* Estilo para cada ítem del grid */
.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.item:hover {
    transform: translateY(-5px);
}

/* Estilo para las imágenes de los productos */
.item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para el contenedor de información del producto */
.info-product {
    padding: 15px;
    text-align: center;
}

/* Estilo para el título del producto */
.info-product h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilo para el precio del producto */
.info-product .price {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 15px;
}

/* Estilo para el botón de añadir al carrito */
.info-product button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info-product button:hover {
    background-color: #2980b9;
}

/* Media queries para ajustar la galería en dispositivos más pequeños */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas más pequeñas */
        margin: 20px 30px; /* Ajusta el margen para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para móviles */
        margin: 20px 15px; /* Ajusta el margen para móviles */
    }
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin-top: 40px; /* Añade un margen superior para separar del contenido anterior */
}

footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
}
